.exchange-rate {
    .card {
        background-image: linear-gradient(to bottom, #012D74, #0C5FC7);
        color: white;
    }

    .icon-exchange {
        font-size: 1.7rem;
        height   : 3.5rem;
        margin   : 20px 0px 20px 0px;
        cursor   : pointer;
    }

    .flag-us {
        background-image   : url(../../assets/images/icons-eeuu-48.png);
        background-repeat  : no-repeat;
        background-position: 0 0;
        background-size    : cover;
        margin-left        : auto;
        margin-right       : auto;
        vertical-align     : text-top;
        height             : 20px;
        width              : 20px;
    }

    .converted {
        .amount {
            font-size: 5rem;
        }

        .currency {
            font-size: 3rem;
        }
    }
}