.icon-exchange {
    font-size: 32px;
    cursor: pointer;
}
.flag-us {
    background-image: url(../../assets/images/icons-eeuu-48.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
}
.converted{
    .amount{
        font-size: 5rem;
    }
    .currency{
        font-size: 3rem;
    }
}